
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Login.css")" rel="stylesheet" type="text/css" />
    <title>Bookstore - Login</title>
</head>
<body>
    <div class="container"> 
      <div class="image">
        <img src="https://raw.githubusercontent.com/victorsingha/Bookstore/main/Bookstore/App_Data/bookstore.png" />
        <p class="tag">ONLINE BOOK SHOPPING</p>
      </div>
       
      <div class="rightbox">
          <form class="rightcontainer" method="post" action="@Url.Action("Authenticate", "Account")">
              <div class="title">
                  <p class="login" onclick="@("window.location.href='" + @Url.Action("Login", "Account") + "'");">LOGIN</p>
                  <p class="signup" onclick="@("window.location.href='" + @Url.Action("Register", "Account") + "'");">SIGNUP</p>
              </div>

              <div>
                  <p>Email Id</p>
                  <input name="email" />
              </div>

              <div>
                  <p>Password</p>
                  <input name="password" />
                  <p class="forgotpassword">forgot password</p>
              </div>

              <button type="submit" value="login" name="submit" class="btnLogin">LOGIN</button>
              <p class="OR">OR</p>
              <div class="btnContainer">
                  <button value="facebook" name="submit" class="btn fb">Facebook</button>
                  <button value="google" name="submit" class="btn">Google</button>
              </div>

          </form>
      </div>
    </div>
</body>
</html>
