
@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="@Url.Content("~/Content/Header.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Store.css")" rel="stylesheet" type="text/css" />
    <title>BookStore</title>
</head>
<body>
  
    @{
        Html.RenderPartial("Header");
    }

    <div class="bookscontainer">
        @foreach (var obj in Model)
        {
            <div class="item" type="submit" onclick="location.href='@Url.Action("BookDetail", "Store",obj)'">
                <div class="image">
                    <img src="@obj.Image" />
                </div>
                <div>
                    <p class="name">@obj.Name</p>
                    <p class="author">by @obj.Author</p>
                    <p><span class="rating">@obj.Rating *</span> <span class="reviews">(@obj.Reviews)</span></p>
                    <p><span class="discount">Rs.@obj.DiscountPrice</span>  <span class="original">Rs.@obj.OriginalPrice</span></p>
                </div>
            </div>
        }

    </div>
</body>
</html>
