
@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>BookStore</title>
    @Styles.Render("~/Content/Header.css")
    @Styles.Render("~/Content/Store.css")
</head>
<body>
  
    @{
        Html.RenderPartial("Header");
    }

    <div class="bookscontainer">
        @foreach (var obj in Model)
        {
            <div class="item" type="submit" onclick="location.href='@Url.Action("Preview", "Store",obj)'">
                <div class="image">
                    <img src="@obj.ImageUrl" />
                </div>
                <div>
                    <p class="name">@obj.Title</p>
                    <p class="author">by @obj.Author</p>
                    <p><span class="rating">@obj.Rating *</span> <span class="reviews">(@obj.ReviewCount)</span></p>
                    <p><span class="discount">Rs.@obj.Discount</span>  <span class="original">Rs.@obj.Price</span></p>
                </div>
            </div>
        }

    </div>
</body>
</html>
