@model CommonLayer.Customer
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="@Url.Content("~/Content/Header.css")" rel="stylesheet" type="text/css" />
    @*<link href="@Url.Content("~/Content/CartPage.css")" rel="stylesheet" type="text/css" />*@
    <title>Cart - BookStore</title>
    @Styles.Render("~/Content/CartPage.css")
</head>
<body>
    @{
        Html.RenderPartial("Header");
    }
    @using (Html.BeginForm("Checkout", "Store", FormMethod.Post, new { @class = "main" }))
    {
        <div class="container">
            <div class="first">
                <div class="firstrow">
                    <h3 id="count">My Cart(1)</h3>
                    <select class="locationselect">
                        <option>Use Current Location</option>
                        <option>Mumbai</option>
                        <option>Surat</option>
                    </select>
                </div>
                <div class="secondrow">
                    <img class="bookimage" src="https://s3.amazonaws.com/thumbnails.venngage.com/template/4c5cb3e3-ab2a-4cd9-bfdb-cfe7c879cb1a.png" />
                    <div>
                        <p class="name">Plastic</p>
                        <p class="author">by Karl</p>
                        <p><span class="discount">Rs.2311</span>  <span class="original">Rs.3300</span></p>
                        <br />
                        <button class="btnremove">Remove</button>
                    </div>
                </div>
                <div class="secondrow">
                    <img class="bookimage" src="https://s3.amazonaws.com/thumbnails.venngage.com/template/4c5cb3e3-ab2a-4cd9-bfdb-cfe7c879cb1a.png" />
                    <div>
                        <p class="name">Plastic</p>
                        <p class="author">by Karl</p>
                        <p><span class="discount">Rs.2311</span>  <span class="original">Rs.3300</span></p>
                        <br />
                        <button class="btnremove">Remove</button>
                    </div>
                </div>
            </div>
            <div class="address">
                <div class="firstrow">
                    <h2>Customer Details</h2>
                    <button class="addnewaddress">Add New Address</button>
                </div>


                <div class="customerform">
                    <div>
                        @Html.Label("FullName")
                        @Html.TextBoxFor(model => model.FullName)

                        @Html.Label("Mobile Number")
                        @Html.TextBoxFor(model => model.Mobile)
                    </div>
                    @Html.Label("Address")
                    @Html.TextAreaFor(model => model.Address)
                    <div>
                        @Html.Label("City/Town")
                        @Html.TextBoxFor(model => model.City)

                        @Html.Label("State")
                        @Html.TextBoxFor(model => model.State)
                    </div>
                </div>


                @*<input type="submit" value="Submit" />*@
                

            </div>
            <div class="summery">
                <div class="firstrow">
                    <h2>Order Summery</h2>
                </div>
                <div class="secondrow">
                    <img class="bookimage" src="https://s3.amazonaws.com/thumbnails.venngage.com/template/4c5cb3e3-ab2a-4cd9-bfdb-cfe7c879cb1a.png" />
                    <div>
                        <p class="name">Plastic</p>
                        <p class="author">by Karl</p>
                        <p><span class="discount">Rs.2311</span>  <span class="original">Rs.3300</span></p>
                        <br />
                    </div>
                </div>
                <div class="secondrow">
                    <img class="bookimage" src="https://s3.amazonaws.com/thumbnails.venngage.com/template/4c5cb3e3-ab2a-4cd9-bfdb-cfe7c879cb1a.png" />
                    <div>
                        <p class="name">Plastic</p>
                        <p class="author">by Karl</p>
                        <p><span class="discount">Rs.2311</span>  <span class="original">Rs.3300</span></p>
                        <br />
                    </div>
                </div>
                <div class="checkoutcontainer">
                    <button type="submit" value="submit" class="checkout">CHECKOUT</button>
                </div>

            </div>

        </div>
    }
        <script>
                //var element = document.getElementById("count");
                //element.innerHTML = "yooo"
        </script>
    </body>
</html>
