@model CommonLayer.Cart
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="@Url.Content("~/Content/Header.css")" rel="stylesheet" type="text/css" />
    @*<link href="@Url.Content("~/Content/CartPage.css")" rel="stylesheet" type="text/css" />*@
    <title>Cart - BookStore</title>
    @Styles.Render("~/Content/CartPage.css")
</head>
<body>
    @{
        Html.RenderPartial("Header");
    }
    @using (Html.BeginForm("Checkout", "Store", FormMethod.Post, new { @class = "main" }))
    {
        <div class="container">
            <div class="first">
                <div class="firstrow">
                    <h3 id="count">My Cart(@Model.BookList.Count)</h3>
                    <select class="locationselect">
                        <option>Use Current Location</option>
                        <option>Mumbai</option>
                        <option>Surat</option>
                    </select>
                </div>
                @foreach (var obj in Model.BookList)
                {
                    <div class="secondrow">
                        <img class="bookimage" src="@obj.ImageUrl" />
                        <div>
                            <p class="name">@obj.Title</p>
                            <p class="author">by @obj.Author</p>
                            <p><span class="discount">Rs.@obj.Discount</span>  <span class="original">Rs.@obj.Price</span></p>
                            <br />
                            <button class="btnremove" type="submit" formaction="@Url.Action("Remove")" formmethod="post">Remove</button>
                        </div>
                    </div>
                }
                </div>
            <div class="address">
                <div class="firstrow">
                    <h2>Customer Details</h2>
                    <button class="addnewaddress">Add New Address</button>
                </div>


                <div class="customerform">
                    <div>
                        @Html.Label("FullName")
                        @Html.TextBoxFor(model => model.Customer.FullName)

                        @Html.Label("Mobile Number")
                        @Html.TextBoxFor(model => model.Customer.Mobile)
                    </div>
                    @Html.Label("Address")
                    @Html.TextAreaFor(model => model.Customer.Address)
                    <div>
                        @Html.Label("City/Town")
                        @Html.TextBoxFor(model => model.Customer.City)

                        @Html.Label("State")
                        @Html.TextBoxFor(model => model.Customer.State)
                    </div>
                </div>            
            </div>
            <div class="summery">
                <div class="firstrow">
                    <h2>Order Summery</h2>
                </div>
                @foreach (var obj in Model.BookList)
                {
            <div class="secondrow">
                <img class="bookimage" src="@obj.ImageUrl" />
                <div>
                    <p class="name">@obj.Title</p>
                    <p class="author">by @obj.Author</p>
                    <p><span class="discount">Rs.@obj.Discount</span>  <span class="original">Rs.@obj.Price</span></p>
                    <br />
                </div>
            </div>
                }
                  
                    <div class="checkoutcontainer">
                        <button name="submit" value="checkout" class="checkout">CHECKOUT</button>
                    </div>

                </div>

        </div>
    }
        <script>
                //var element = document.getElementById("count");
                //element.innerHTML = "yooo"
        </script>
    </body>
</html>
