
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="@Url.Content("~/Content/Header.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Prev.css")" rel="stylesheet" type="text/css" />
    <title>@Model.Name by @Model.Author - BookStore</title>
</head>
<body>
    @{
        Html.RenderPartial("Header");
    }
    <div class="main">
        <div class="leftbox">
            <div class="imagecontainer">
                <img class="image" src="@Model.Image" />
            </div>
            <div class="buttoncontainer">
                <button class="btn_addtobag">ADD TO BAG</button>
                <button class="btn_wishlist">❤ WISHLIST</button>
            </div>
        </div>
        <div class="rightbox">

            <p class="name">@Model.Name</p>
            <p class="author">by @Model.Author</p>
            <p><span class="rating">@Model.Rating *</span> <span class="reviews">(@Model.Reviews)</span></p>
            <p><span class="discount">Rs.@Model.DiscountPrice</span>  <span class="original">Rs.@Model.OriginalPrice</span></p>

            <hr class="solid">

            <p>Book Detail</p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
                ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>


            <hr class="solid">

            <p>Customer Feedback</p>
            <div>
                <p>Overall Rating</p>
                <p><span>⭐</span><span>⭐</span><span>⭐</span><span>⭐</span><span>⭐</span></p>
                <input /><br />
                <button>Submit</button>
            </div>

        </div>
    </div>
   
   
   
</body>
</html>
