
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="@Url.Content("~/Content/Header.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Preview.css")" rel="stylesheet" type="text/css" />
    <title>@Model.Name by @Model.Author - BookStore</title>
</head>
<body>
    @{
        Html.RenderPartial("Header");
    }
    <div>
        <h2>@Model.BookId</h2>
        <h1>@Model.Name</h1>
        <h1>@Model.Rating</h1>
    </div>
</body>
</html>
