
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Wishlist</title>
    @Styles.Render("~/Content/Header.css")
    <style>
        .main {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom:30px;
        }

        .item {
            margin-top: 10px;
            width: 850px;
            align-items: center;
            height: 200px;
            border-style: solid;
            border-width: 0.5px;
            border-radius: 2px;
            border-color: gray;
            display: flex;
        }

        .bookimage {
            width: 110px;
            height: 150px;
            margin-right: 20px;
            margin-left: 20px;
        }

        .name {
            font-size: large;
            font-weight: 500;
        }

        .author {
            font-size: small;
            color: gray;
        }

        .discount {
            font-weight: 500;
        }

        .original {
            font-size: small;
            color: gray;
            text-decoration: line-through;
        }

        .btn{
            margin-top:8px;
            padding:5px 10px;
            border-style:none;
        }
        .btn:hover{
            cursor:pointer;
            opacity:70%;
        }
        .remove{
            background-color:brown;
            color:white;
        }
        .addtobag{
            background-color:cornflowerblue;
            color:white;
        }
    </style>
</head>
<body>
    @{
        Html.RenderPartial("Header");
    }
    <div class="main">
        <h3>Wishlist[@Model.Count]</h3>
        @foreach (var obj in Model)
        {
            <div class="item">
                <img class="bookimage" src="@obj.ImageUrl" />
                <div>
                    <p class="name">@obj.Title</p>
                    <p class="author">by @obj.Author</p>
                    <p><span class="discount">Rs.@obj.Discount</span>  <span class="original">Rs.@obj.Price</span></p>
                    <button class="btn remove" id="removebtn" value="@obj.BookId" onclick="remove(@obj.BookId)">Remove</button>
                    <button class="btn addtobag">AddToCart</button>
                </div>

            </div>
        }
    </div>

    @Scripts.Render("~/bundles/jquery")
    <script>
        function remove(bookid) {
            console.log(bookid);
            $.ajax({ //Do an ajax post to the controller
                type: 'POST',
                url: 'RemoveFromWishlist',
                data: { bookid: bookid },
                success: function (data) {
                    if (data.status === 'OK') {
                        window.location.href = data.Url
                    }
                    else {
                        alert("Cannot Remove From Wishlist.");
                    }
                }
            });
        }
    </script>
</body>
</html>
